@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}
//body
.container {
  box-sizing: border-box;
  width: calc(100% - 20px); /* subtract the padding from the width */
  padding-left: 20px;
}

.top-navbar2-links li {
  margin-right: 40px;
  color: #800;
}

.top-navbar-links title {
  color: #800;
  
}


.nav2-container {
  background-blend-mode: color;
  backdrop-filter: blur(60px) saturate(155%);
  background-image: url(/bg.jpg);
}

.nav2-container h2,
a {
  color: #666666;
}
