@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}
.telephone {
  margin-left: 220px;
  margin-top: 40px;
  max-width: 800px; 
  width: 800px;
}

.telephone h1{
  color:#800;
 
  font-size: 22px;
  line-height: 28px;
 
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  margin: 20px 0 10px 0;
  color: #800;

}
.telephone h2{
  color:#800;
  margin: 20px 0 0px 0;
  font-size: 18px;
    line-height: 4px;
  
}
.telephone h3{
color: #666;
    font-family: 'Noto Sans', sans-serif;
    line-height: 22px;
    margin-left: 20px;
    line-height: 28px;
    border-left: 4px solid #666;
  padding-left: 10px;
}
@media only screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-span-1 {
    flex: 1;
    width: 100%;
  }

  .contactusContents {
    order: -1;
  }
  .telephone {
    width: 100%;
    
  }
}

@media only screen and (min-width: 601px) {
  .col-span-1 {
    width: calc(50% - 20px);
  }
  .grid {
    display: grid;
  }

 
}
//table
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  th {
    color: #800;
    background-color: #f8f8f8;
    align-items: center;
    text-align: center;
}
}
th, td {
  border: 1px solid     #eee;
  background-color: #fff;
  padding: 5px;
  text-align: left;
  line-height: 2.2em;
  font-size: 10pt;
  font-family: Inter, 'Noto Sans', sans-serif;
  color:#555555

  
}

th:first-child,
td:first-child {
  width: 40%;
}


td:last-child {
  width: 20%;
  text-align: right;
}

//contactus
.contactus-container {
  margin-left: 220px;
  margin-top: 40px;
  max-width: 800px; 
  width: 800px;
}
.contactusContents {
  margin-left: 300px;
  margin-top: 40px;
  max-width: 800px; 
}

.contactusContents li {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  width: 50%;
  color: lightgray ;
  font-family: 'Noto Sans', sans-serif ;

  
 
}
.contactusContents li:hover a {
  color: #800;
  text-decoration: underline;
}
.contactus-heading{
  color: #800;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  margin: 20px 0 10px 0;
  color: #800;

}
.contactus-container p{
  color: #666 ;
  font-family: 'Noto Sans', sans-serif ;
  line-height: 35px;
  margin: 0 
}
.contactus-email p{
  color: #666 ;
  font-family: 'Noto Sans', sans-serif ;
  line-height: 30px;
  margin: 0
  

}
.contactus-container h3{
  color: #800;

}
.contactus-container h3{
  color: #800;

}
.contactus-container h4{
  color: #666;
  font-size: 22pt;
  line-height: 50px;

}



.contactusContents h2{
  color: #800;

}



.floatoverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.floatlinks {
  display: flex;
  flex-direction: column;
}

.floatlinks a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.floatlinks a span:first-child {
  margin-right: 10px;
}


.floatcontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.floatlogo {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  margin-top: 20px;
  margin-left: 1rem;
}


.floatcontent p {
  margin-top: 0;
  text-align: center;
}





.float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color:lightgray;
  color: #fff;
  border-radius: 0.25rem;
  border: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.float:hover {
  width: 12rem;
}


.floatheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

//title
.title{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 40px;
    width: 60%;
    border-bottom: 1px solid #800;
    padding-top: 10px;
}

/* Top Navbar */
.top-navbar-links li {
  display: flex;
  padding: 5px 12px;
  height: 40px;
  align-items: center;
  transition: 0.2s;
  color: #666666;
  :hover {
    color: white;
    cursor: pointer;
  }
}


.nav-container li:hover {
  color: white;
  background-color: #800;
  cursor: pointer;
}

.top-navbar2-links li {
  margin-right: 40px;
  color: #800;
}

.top-navbar-links title {
  color: #800
}

.icon-border {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid #800;
  transition: .2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.title-color {
  color: #800;
}
.twitter{
  border-radius: 5px;
  padding-bottom: 10px;
}
.twitter a{
  position: fixed;
}
.twitter-timeline {
  width: 350px;
  height: 885px;
  overflow: auto;
}

.yt{
  width: 750px;
  height: 500px;
  border-radius: 5px;
}
.spotify{
  width: 750px;
  height:360px;
}
.other-links:hover .icon-border {
  color: white;
  background-color: #800;
}

.other-links:hover {
  text-decoration: underline;
}

.contact {
  transition: 0.2s;
  padding: 0 10px;
  color: #666666;
  :hover {
    color: white;
    cursor: pointer;
  }
}

/* Navigation */
.nav-container,
.nav2-container {
  background-blend-mode: color;
  backdrop-filter: blur(60px) saturate(155%);
  background-image: url(/bg.jpg);
  
}

.nav2-container h2,
a {
  color: #666666;
}

@media screen and (max-width: 768px) {
  .nav2-container {
    background-color: #800;
    background-image: none;
  }

  .other-links-container {
    flex-direction: column;
  }

  .other-links {
    flex: none;
    transform: scale(1.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    color: #800;
    transition: 0.5s;
    
   

  }

  .icon-border {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #800;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
  }

  .other-links:hover .icon-border {
    color: white;
    background-color: #800;
  }

  .other-links p {
    text-align: center;
  }

 

 .iconLink title {
  text-align: center;
  
 }
 

 

  .img-container {
    transform: scale(3);
  }
}

/* Footer */
.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
  height: auto;
  margin-bottom: 20px;
}
.footer-links-container-container p{
  color: #800;
  font-weight: 600;
 
}

.footer-links-container-container{
  
  height: auto;
 
}
.footer2-items h1{
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #555555;
}

.footer2-items p{
  font-size: 10px;
  color: #666666;
}

.footer2-items li:hover{
  text-decoration: underline;
}

.footer2-items{
  display: flex;
  height: 224px;
  column-gap: 50px;
  padding-top: 20px;
}

.footer2-items li{
  color: #888888;
}
.social-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #800;
  border-radius: 50%;
  color: white;
  margin-right: 25px;
  transition: .5s;
}


@media (max-width: 640px) {
  .footer-links {
    width: 100%;
    height: auto;
  }
  .social-icons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .social-icons-container {
    justify-content: center;
  }
  .social-icons {
    margin-right: 0;
    margin-bottom: 10px;
  }
}



/*contact*/

.contact {
  transition: 0.2s;
  padding: 0 10px;
  color: #666666;
}

/* Navigation */
.nav-container,
.nav2-container {
  backdrop-filter: blur(10px) saturate(125%);
  background-image: url(/bg.jpg);
}



@media screen and (max-width: 768px) {
  .nav2-container {
    background-color: #800;
    background-image: none;
    .other-links-container {
      flex-direction: column;
    }

    .other-links {
      flex: none;
    }
  }

  .other-links {
    transform: scale(1.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    color: #800;
    transition: 0.5s;
    
  }

  .iconLink-border {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #800;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: #666666;
    
  }

  .other-links:hover {
    text-decoration: underline;
  }

  .icon-border:hover {
    color: white;
    background-color: #800;
  }

  .other-links p {
    text-align: center;
    color: #800;
  }

  
  

 
  .img-container {
    transform: scale(3);
  }
}





.quick-links li,
.contact-us li,
.weblinks li {
  list-style-type: none;
  margin-bottom: 5px;
}


.contact-us span {
  font-weight: bold;
}

.weblinks {
  list-style-type: none;
}


.weblinks a:hover {
  text-decoration: underline;
}

.credit a {
  color: #666666;
  margin-left: 5px;
}

.credit a:hover {
  text-decoration: underline;
}
.other-links{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 150px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color:#800;
  transition: .5s;
  padding-top: 50px;
}

 @media print {
  .footer-links-container-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    text-align: left;
    width: 100%;
  }
  
  
  
 }


contact-us,
    .weblinks {
      text-align: left;
    }

    .contact{
      transition: .2s;
      padding-left: 10px;
      padding-right: 10px;
      color: #666666;
  }
  contact-us li{
    // footer
        color: #555555;
    }
    
    .contact-us span{
        color:#555555;
        font-weight: 600;
    }
    .credit p{
      color: #555555;
  }
  
  /* For screens with a minimum width of 769 pixels */

//hover
.weblinks a:hover {
  text-decoration: underline;
}
.quick-links li:hover{
  text-decoration: underline;
}



//search
.search{
  height: 28px;
  width: 175px;
  border: .5px solid lightgray;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding-left: 10px;
  padding-bottom: 2px;
  font-size: 12px;
  outline: none;
  shape-outside: white;
}



//HIRAP
.content-container{
  height: 620px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.content-container a{
  color: #800;
}

.content-container p{
  color: #555555;
  font-size: 12px;
  margin-top: 10px;
}
.content-container-container {
  display: flex;
  

}

@media (max-width: 768px) {
  .content-container-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%; /* set width to 100% */
    padding-bottom: 150px;
      padding-left: 50px;
    }
    .announcements{
      width: 700px;
      
  }
  .footer2-items{
    height: auto;
    width: 100%;
}
.footer2-items p{
    width: 100%;
}
.quick-links, .footer2-items li{
    line-height: 60px;
}
.credit p{
    font-size: 26px;
}
.contact-us,
.weblinks{
    width: 900px;
}
.social-icons{
    transform: scale(2.5);
    margin-left: 10px;
    margin-right: 120px;
}
.footer2-items img{
    height: 350px;
    width: 350px;
}
    
  }

.announcements {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.announcements{
  width: 700px;
}
.announcements a:hover{
  text-decoration: underline;
}

.news-img{
  height: 480px;
  width: 320px;
}

.img-container{
  height: 150px;
  width: 200px;
}

.img-container img{
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .nav2-container {
    background-color: #800;
    background-image: none;
  }

  .other-links {
    transform: scale(1.5);
  }

  .content-container-container {
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }

  .announcements {
    width: 100%;
  }
  .news-img{
    height: 100%;
    width: 100%;
  }
  .img-container{
    height: 270px;
    width: 250px;
    padding-bottom: 250px;
    padding-top: 200px;
  } 
  .embed{
    width: 100%;
    align-items: center;
    
}
.contact-us,
.weblinks{
    width: 900px;
}

  .footer-links-container-container {
    flex-direction: column;
    height: auto;
  }
  .content-container h1, 
    .content-container a,
    .content-container p,
    .footer-links-container-container a,
    .footer-links-container-container p,
    .footer-links-container-container h1,
    .contact-us li{
        font-size: 36px;
    }
    .slider-buttons-container{
        width: 100px;
    }
    .slider-buttons-container button{
        transform: scale(2);
    }
    .title{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .slider{
        height: 420px;
    }
    .yt, .spotify{
        width: 95%;
    }
    .yt-spot-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .twitter{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 1500px;
        margin-bottom: 30px;
    }
    .twitter-timeline{
        width: 95%;
        height: 100%;
        border-radius: 20px;
    }

    // FOOTER
    .footer-links-container-container{
        flex-direction: column;
        width: 100%;
        height: auto;
        align-content: flex-start;
        padding: 15px;
    }
    .footer-links{
        width: 100%;
        height: auto;
    }
    .footer2-items{
        height: auto;
        width: 100%;
    }
    .footer2-items p{
        width: 100%;
    }
    .quick-links, .footer2-items li{
        line-height: 60px;
    }
    .credit p{
        font-size: 26px;
    }
    .contact-us,
    .weblinks{
        width: 900px;
    }
    .social-icons{
        transform: scale(2.5);
        margin-left: 10px;
        margin-right: 120px;
    }
    .footer2-items img{
        height: 350px;
        width: 350px;
    }
}

  
  

  .parent-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid grey;
   
  
  }
  .embed{
    width: 100%;
    align-items: center;
}

