//navbar
.navbar-container {
   
    background-color: #f2f2f2;
    
  }
  
  .custom-navbar {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 150px;
    gap: 30px;
    :hover {
      color: #948d5d;
    }
  }
  
  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
  }
  .custom-navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid #333;
  }

  //display image
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .learn-more-button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #f2f2f2;
    cursor: pointer;
  }
  
  .learn-more-button:hover {
    background-color: #948d5d;
  }
  

  //interactive map
  .parent-container {
    display: flex;
    background-color: #f2f2f2;
    padding-bottom: 30px;
  }
  
  .column1 {
    flex: 0.6;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
  }
  
  .column2 {
    flex: 1;
    margin-right: 160px;
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    flex: 1;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-image {
    margin-bottom: 10px;
  }
  
  .card-image img {
    width: 100%;
  }
  
  //footer
  .footer-container {
    border-top: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .logo {
    width: 100px;
    height: 90px;
  }
  
  .paragraph {
    margin-top: 10px;
    text-align: center;
  }
  